**TASK**: Forecasting bus demand in Banana Republic municipalities.

In [2]:
import pandas as pd
import numpy as np

# Load the dataset
url = 'https://pi.works/3w8IJbV'
df = pd.read_csv(url, header=None, names=["TIMESTAMP", "MUNICIPALITY_ID", "USAGE", "TOTAL_CAPACITY"])

df.head(10)

             TIMESTAMP  MUNICIPALITY_ID  USAGE  TOTAL_CAPACITY
0            timestamp  municipality_id  usage  total_capacity
1  2017-06-04 07:59:42                9    454            1332
2  2017-06-04 07:59:42                8    556            2947
3  2017-06-04 07:59:42                4   1090            3893
4  2017-06-04 07:59:42                0    204            2813
5  2017-06-04 07:59:42                7    718            2019
6  2017-06-04 07:59:42                5     70             587
7  2017-06-04 07:59:42                2    273             697
8  2017-06-04 07:59:42                1    129             397
9  2017-06-04 07:59:42                6    597            3113

In [3]:
df = df.iloc[1:,]
df.head()

             TIMESTAMP MUNICIPALITY_ID USAGE TOTAL_CAPACITY
1  2017-06-04 07:59:42               9   454           1332
2  2017-06-04 07:59:42               8   556           2947
3  2017-06-04 07:59:42               4  1090           3893
4  2017-06-04 07:59:42               0   204           2813
5  2017-06-04 07:59:42               7   718           2019

In [4]:
df.info() # info of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13070 entries, 1 to 13070
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TIMESTAMP        13070 non-null  object
 1   MUNICIPALITY_ID  13070 non-null  object
 2   USAGE            13070 non-null  object
 3   TOTAL_CAPACITY   13070 non-null  object
dtypes: object(4)
memory usage: 408.6+ KB

In [5]:
# Convert TIMESTAMP column to a datetime object
df["TIMESTAMP"] = pd.to_datetime(df["TIMESTAMP"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13070 entries, 1 to 13070
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TIMESTAMP        13070 non-null  datetime64[ns]
 1   MUNICIPALITY_ID  13070 non-null  object
 2   USAGE            13070 non-null  object
 3   TOTAL_CAPACITY   13070 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 408.6+ KB

In [6]:
df.isnull().values.any() # any discrete or empty values in the dataset?

False

In [30]:
# Split the dataset into training and test sets
train = df[df['TIMESTAMP'] < '2017-08-05']
test = df[df['TIMESTAMP'] >= '2017-08-05']

In [31]:
test.shape

(2680, 4)

In [32]:
train.shape

(10390, 4)